<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../../assets/css/commons/reset.css" rel="stylesheet" type="text/css">
<link href="../../../assets/css/commons/base.css" rel="stylesheet" type="text/css">
<link href="../../../assets/css/commons/commons.css" rel="stylesheet" type="text/css">
<link href="../../../assets/css/service.css" rel="stylesheet" type="text/css">
</head>

<body style="overflow:auto">
		<div class="swappoint-table-scroll">
				<table>
					<thead>
						<tr>
							<th>通貨ペア<br>取引日or受取日</th>
							<th colspan="2" class="flag-usd-jpy-bg"><p>USD/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-eur-jpy-bg"><p>EUR/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-gbp-jpy-bg"><p>GBP/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-aud-jpy-bg"><p>AUD/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-nzd-jpy-bg"><p>NZD/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-zar-jpy-bg"><p>ZAR/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-cad-jpy-bg"><p>CAD/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-chf-jpy-bg"><p>CHF/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-hkd-jpy-bg"><p>HKD/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-sgd-jpy-bg"><p>SGD/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-cnh-jpy-bg"><p>CNH/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-try-jpy-bg"><p>TRY/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-mxn-jpy-bg"><p>MXN/JPY<br>（売｜買）</p></th>
							<th colspan="2" class="flag-eur-usd-bg"><p>EUR/USD<br>（売｜買）</p></th>
							<th colspan="2" class="flag-gbp-usd-bg"><p>GBP/USD<br>（売｜買）</p></th>
							<th colspan="2" class="flag-aud-usd-bg"><p>AUD/USD<br>（売｜買）</p></th>
							<th colspan="2" class="flag-nzd-usd-bg"><p>NZD/USD<br>（売｜買）</p></th>
							<th colspan="2" class="flag-eur-chf-bg"><p>EUR/CHF<br>（売｜買）</p></th>
							<th colspan="2" class="flag-gbp-chf-bg"><p>GBP/CHF<br>（売｜買）</p></th>
							<th colspan="2" class="flag-usd-chf-bg"><p>USD/CHF<br>（売｜買）</p></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>08/31(月)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/30(日)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>08/29(土)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>08/28(金)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/27(木)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/26(水)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/25(火)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/24(月)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/23(日)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>08/22(土)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>08/21(金)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/20(木)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/19(水)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/18(火)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/17(月)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/16(日)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>08/15(土)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>08/14(金)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/13(木)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/12(水)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/11(火)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/10(月)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/09(日)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>08/08(土)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>08/07(金)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/06(木)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/05(水)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/04(火)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/03(月)</th>
							<!--USD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--ZAR/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CAD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CHF/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--HKD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--SGD/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--CNH/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--TRY/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--MXN/JPY-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/USD-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/USD-->
							<td>-30</td>
							<td>30</td>
							<!--AUD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--NZD/USD-->
							<td>-30</td>
							<td>30</td>
							<!--EUR/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--GBP/CHF-->
							<td>-30</td>
							<td>30</td>
							<!--USD/CHF-->
							<td>-30</td>
							<td>30</td>
						</tr>
						<tr>
							<th>08/02(日)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>08/01(土)</th>
							<!--USD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--GBP/JPY-->
							<td>-</td>
							<td>-</td>
							<!--AUD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--NZD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--ZAR/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CAD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CHF/JPY-->
							<td>-</td>
							<td>-</td>
							<!--HKD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--SGD/JPY-->
							<td>-</td>
							<td>-</td>
							<!--CNH/JPY-->
							<td>-</td>
							<td>-</td>
							<!--TRY/JPY-->
							<td>-</td>
							<td>-</td>
							<!--MXN/JPY-->
							<td>-</td>
							<td>-</td>
							<!--EUR/USD-->
							<td>-</td>
							<td>-</td>
							<!--GBP/USD-->
							<td>-</td>
							<td>-</td>
							<!--AUD/USD-->
							<td>-</td>
							<td>-</td>
							<!--NZD/USD-->
							<td>-</td>
							<td>-</td>
							<!--EUR/CHF-->
							<td>-</td>
							<td>-</td>
							<!--GBP/CHF-->
							<td>-</td>
							<td>-</td>
							<!--USD/CHF-->
							<td>-</td>
							<td>-</td>
						</tr>
					</tbody>
				</table>
		</div>
	
</body>

</html>
